@import url('./includes/variables.css');
@import url('./desktop/loginDesk.css');
@import url('./mobile/loginMob.css');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


.error-login
{           
        background-color:  rgba(255, 87, 87, 0.788);
        animation: error 0.5s linear;
        color: white;
        padding: 10px;
        border-radius: 5px;
        text-align: center;
        font-size: 16px;
}

@keyframes error
{
    0% {
        transform: scale(0.5);
        background-color:  rgba(255, 87, 87, 0);
    }

    50%
    {   
        background-color:  rgba(255, 87, 87, 0.568);
    }

    100%
    {   
        transform: scale(1);
        background-color:  rgb(255, 87, 87);
    }
}
