@import url('./includes/variables.css');
@import url('./painel.css');
@import url('./includes/nav.css');
@import url('./includes/modal.css');


.main > article
{   
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
}

.actions
{
    width: 100%;
}

.actions > button
{
    border-radius: 5px;
    padding: 10px;
    letter-spacing: 1px;
}

.button-create{background-color: rgb(60, 175, 60); color: white;}
.button-create:hover{background-color: rgb(34, 102, 34); cursor: pointer;}

.tableProducts 
{
    width: 100%;
    overflow: auto;
}

.tableProducts > table
{   
    border-collapse: collapse;
    width: 100%;
    overflow: hidden;
}

.tableProducts th, td
{   
    padding: 5px;
    text-align: left;
    border: 1px solid #a5a5a5;
}

.tableProducts th
{
    padding: 10px;
}

.tableProducts th
{
    background-color: rgb(56, 192, 147);
    color: var(--white);
}

.tableProducts tr:nth-child(even) {
    background-color: #d6d6d6;
    color: rgb(58, 58, 58);
}

.tableProducts tr:nth-child(odd) {
    background-color: rgb(255, 255, 255);
    color: black;
}

.tableProducts tr:hover {
   background-color: rgb(168, 255, 233);
   color: rgb(0, 0, 0);
   transition: all 0.2s linear;
}

.pagination
{
   
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.pagination button
{
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(56, 192, 147);;
    color: white;
    transition: all 0.3s linear;
}

.pagination button:hover
{
    background-color: rgb(43, 153, 116);;
    cursor: pointer;
}


.actions-table
{
   text-align: center;
}

#edit
{
    color: rgb(23, 214, 23);
    background-color: transparent;
    font-size: 20px;
    margin-right: 10px;
    cursor: pointer;
}
#delete
{
    color: rgb(192, 23, 23);
    background-color: transparent;
    font-size: 20px;
    cursor: pointer;
}

@media (width < 800px)
{
    
}