<div class="card color-card-01">
  <i class="bi bi-box" viewBox="0 0 24 24"></i>
  <div class="card__content">
    <p class="card__title">Total de Produtos</p>
    <p class="card__description">732 produtos</p>
  </div>
</div>

<div class="card color-card-02">
  <i class="bi bi-cash-coin" viewBox="0 0 24 24"></i>
  <div class="card__content">
    <p class="card__title">Total em Estoque</p>
    <p class="card__description">R$ 25.322,45</p>
  </div>
</div>

<div class="card color-card-03">
  <i class="bi bi-wallet2" viewBox="0 0 24 24"></i>
  <div class="card__content">
    <p class="card__title">Total de Vendas</p>
    <p class="card__description">R$ 1.542.345,21</p>
  </div>
</div>