.modal
{
    width: 70%;
    min-width: 200px;
    max-width: 500px;
    
    
    border-radius: 10px;
    margin: auto;
    border-radius: 1px solid black;
    box-shadow: 1px 1px 10px black;
    padding: 5px;
    transition: all 0.3s linear;
}

.modal > .headerModal
{   
   
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    padding: 10px;
}

.modal > .mainModal
{
    padding: 10px;
    border-bottom: 1px solid #ccc;
}


.mainModal> form
{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 5px;
    width: 100%;
}

.mainModal > form > .formGroup
{
  display: flex;
  width: 100%;
  flex-direction: column;
}

.mainModal> form > input[type='submit']
{
    padding: 10px;
    background-color: rgb(68, 196, 68);
    border: none;
    border-radius: 5px;
    width: 50%;
    min-width: 100px;
    transition: all 0.3s linear;
    font-size: 16px;
}

.mainModal> form > input[type='submit']:hover
{   
   cursor: pointer;
   color: white;
   background-color: rgb(46, 129, 46);
}
.mainModal > form  input[type='text']
{
  border: 1px solid #ccc;
  letter-spacing: 1px;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
}
.modal > .footerModal
{   
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.modal > .footerModal > .closeButton
{
    padding: 10px;
    font-size: 14px;
    background-color: rgb(194, 53, 53);
    border: none;
    border-radius: 5px;
    color: white;
}

.modal > .footerModal > .closeButton:hover
{
    background-color: rgb(133, 36, 36);
    cursor: pointer;
}


/*File input*/

.custum-file-upload {
    height: 150px;
    width: 90%;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    border: 2px dashed #cacaca;
    background-color: rgba(255, 255, 255, 1);
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0px 48px 35px -48px rgba(0,0,0,0.1);
  }
  
  .custum-file-upload .icon {
    font-size: 20px;
  }
  
  .custum-file-upload .icon i {
    height: 80px;
    fill: rgba(75, 85, 99, 1);
  }
  
  /* .custum-file-upload .text {
    display: flex;
    align-items: center;
    justify-content: center;
  } */
  
  .custum-file-upload .text span {
    font-weight: 400;
    color: rgba(75, 85, 99, 1);
  }
  
  .custum-file-upload input {
    display: none;
  }

  .text
  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
  }

  #image-preview
  {
    height: 150px;
    width: 80%;
    border-radius: 5px;
  }