:root
{
    --white: #fff;
    --dark: #000;
    --box-shadow: #505050;
    --background-box: #dcdcdc;
}

[data-theme = 'dark']
{
    --white: #000;
    --dark: #fff;
    --box-shadow: #eeeeee;
    --background-box: #222222;
}