:root
{
    --white: #fff;
    --dark: #000000;
    --box-shadow: #505050;
    --background-box: #e6e6e6;
}

[data-theme = 'dark']
{
    --white: #000000;
    --dark: #fff;
    --box-shadow: #eeeeee;
    --background-box: #292929;
}