@import url('./includes/modal.css');

.infos-user
{
    height: 80%;
    width: 100%;
    display: grid;
    grid-template-columns:repeat(2, 1fr) repeat(2, 2fr); /* Ajuste aqui */ /* Alteração feita aqui */
    grid-template-rows: 100px repeat(2, 1fr);
    grid-template-areas: 
    "photo photo photo photo"
    "option option info info"
    "option option info info";
    border: 1px solid var(--dark);
    border-radius: 10px;
}

.infos-user > .photo-user
{    
    grid-area: photo;
    display: flex;
    padding: 5px;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid #ccc;
}

.photo-user > img
{
    width: 5em;
    height: 5em;
    object-fit:cover;
    border-radius: 50%;
    border: 0.5px solid #ccc;
}
.infos-user > .info
{
    grid-area: info;
    padding: 10px;
    font-size: 18px;
   
}
.infos-user > .info > h4
{
    text-align: center;
    margin-bottom: 10px;
}
.infos-user > .info > p > span
{
    font-weight: bold;
    letter-spacing: 1px;
    font-style: italic;
}

.infos-user > .options
{
    grid-area: option;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    border-right: 1px solid #ccc;;
}

.options > button
{
    padding: 10px;
    width: 50%;
   
    font-weight: bold;
    background-color: rgb(68, 185, 68);
    border-radius: 5px;
    transition: all 0.3s linear;
}

.options > button:hover
{
    cursor: pointer;
    background-color: rgb(41, 108, 41);
    color: white;
}

/*Preview da imagem perfil upload*/

#preview
{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.error
{   
    background-color:  rgb(255, 87, 87);
    animation: error 5s linear;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

@keyframes error
{
    0% {
       
        transform: scale(0.5);
        background-color:  rgba(255, 87, 87, 0);
    }

    10%
    {
        transform: scale(0.6);
        background-color: rgba(255, 87, 87, 0.200);
    }

    20%
    {
        transform: scale(0.7);
        background-color: rgba(255, 87, 87, 0.400);
    }

    30%
    {
        transform: scale(0.8);
        background-color: rgba(255, 87, 87, 0.600);
    }

    40%
    {
        transform: scale(0.9);
        background-color: rgba(255, 87, 87, 0.800);
    }

    50%
    {   
        transform: scale(1);
        background-color:  rgb(255, 87, 87);
    }

    60%
    {
        transform: scale(0.9);
        background-color: rgba(255, 87, 87, 0.800);
    }

    70%
    {
        transform: scale(0.8);
        background-color: rgba(255, 87, 87, 0.600);
    }

    80%
    {
        transform: scale(0.7);
        background-color: rgba(255, 87, 87, 0.400);
    }

    90%
    {
        transform: scale(0.6);
        background-color: rgba(255, 87, 87, 0.200);
    }

    100%
    {
        transform: scale(0.5);
        background-color:  rgba(255, 87, 87, 0);
    }
}

@media (width < 935px)
{   

    .options
    {
        padding: 5px;
    }
    .options > button
    {
        width: 100%;
    }

    @media (width < 680px)
    {
        .options > button
        {
            font-size: 10px;
        }

        .infos-user > .info h4
        {
            font-size: 16px;
        }
    
        .infos-user > .info 
        {
            font-size: 12px;
        }
    }
}




@media (width < 500px)
{
    .infos-user
    {
        grid-template-areas: 
        "photo photo photo photo"
        "info info info info"
        "option option option option";
    }
}